body {
    background-image: url("./Imagenes/fondo10.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .logo {
    padding-top: 20px;
    margin-left: 20px;
  }
  
  .container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: transparent;
  }
  
  .text-area {
    position: absolute;
    width: 42%;
    height: 60%;
    left: 5%;
    top: 5%;
    background-color: hsla(200, 56%, 77%, 1);
    border-radius: 10px;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
  }
  
  .text-area::placeholder {
    color: #0A3871;
  }
  
  .text-area:focus,
  .text-area:active {
    outline: none;
  }
  
  .terminos {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 8%;
    top: 65%;
  }
  
  .terminos p {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0;
    position: absolute;
    width: 80%;
    left: 8%;
    top: 70%;
    gap: 40px
  }
  
  .btn-encriptar {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 20%;
    height: 20%;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: aliceblue;
    cursor: pointer;
  }
  
  .btn-desencriptar {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 20%;
    height: 20%;
    background-color: #c6e0f8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;
  }
  
  .btn-encriptar:hover,
  .btn-desencriptar:hover {
    transform: scale(1.1);
    box-shadow: 0 2px gray;
  }
  
  .encriptado {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 75%;
    left: 60%;
    top: 5%;
    background-color: hsla(200, 56%, 77%, 1);
    border-radius: 10px;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
  }
  
  .mensaje {
    position: absolute;
    width: 80%;
    height: 160%;
    left: 10%;
    top: 40px;
    background-color: hsla(200, 56%, 77%, 1);
    border-radius: 10px;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background: transparent;
    font-family: 'Kanit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
  }
  
  .mensaje::placeholder {
    color: #0A3871;
  }
  
  .mensaje:focus,
  .mensaje:active {
    outline: none;
  }
  
  .mensaje-encriptado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
  }
  
  .mensaje-encriptado h2 {
    width: 80%;
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    text-align: center;
    color: #0A3871;
  }
  
  .encriptado img {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 10%;
  }
  
  .copiar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2%;
    position: absolute;
    width: 50%;
    height: 10%;
    left: 25%;
    top: 85%;
    justify-content: center;
    gap: 8px;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    cursor: pointer;
  }
  
  .copiar:hover {
    transform: scale(1.1);
    box-shadow: 0 2px #0A3871;
  }
  
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px); 
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
  }
  
  .desarrollador {
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #0A3871;
    margin-right: 10px;
    margin-left: 20px;
  }
  
  .redesSociales a {
    margin-right: 5px; 
    color: blue; 
  }
  
  .redesSociales a:last-child {
    margin-right: 0;
  }
  
  .redesSociales i {
    font-size: 32px;
  }

  @media screen and (max-width: 480px) {
    .container {
      padding: 20px;
    }
  
    .text-area {
      width: 90%;
      height: 40%;
      left: 5%;
      top: 2%;
      font-size: 18px;
    }
  
    .terminos {
      width: 90%;
      left: 5%;
      top: 40%;
    }
  
    .botones {
      width: 90%;
      left: 5%;
      top: 43%;
      gap: 20px;
    }
  
    .btn-encriptar,
    .btn-desencriptar {
      width: 40%;
      height: 40px;
      font-size: 14px;
    }
  
    .encriptado {
      width: 90%;
      height: 40%;
      left: 5%;
      top: 50%;
      font-size: 18px;
    }
  
    .mensaje {
      width: 90%;
      height: 120%;
      left: 5%;
      top: 30px;
      font-size: 18px;
    }
  
    .mensaje-encriptado h2 {
      width: 90%;
      font-size: 20px;
    }
  
    .encriptado img {
      width: 80%;
      height: 40%;
      top: 5%;
    }
  
    .copiar {
      width: 70%;
      height: 10%;
      left: 15%;
      top: 90%;
      font-size: 14px;
    }
  
    .footer {
      flex-direction: column;
      padding: 10px;
      top: 110%;
    }
  
    .desarrollador {
      margin: 5px 0;
    }
  }  